/*
Author:      Zachary Thomas
Created:     6/3/2021
Modified:    6/3/2021

Copyright 2021 © Cornell Pump Company, All Rights Reserved
-----------------------------------------------------------------
*/

.simple-card {
  background-color: var(--background-close);
  border-color: var(--border);
  border-width: 1px;
  border-style: solid;
}