/*
Author:      Zachary Thomas
Created:     6/7/2021
Modified:    9/30/2021

Copyright 2021 © Cornell Pump Company, All Rights Reserved
-----------------------------------------------------------------
*/

.confirm-top-level-backdrop {
  z-index: 1055 !important;
}